.dropdown button {
    background-color: inherit;
    transition: 0.6s;
    min-width: 70px;
    width: max-content;
    height: 68px;
    border: none;
    justify-content: space-evenly;
}
nav.sticky button {
    height: 48px;
}
.dropdown button img,
.dropdown-content li img {
  width: 28px;
}
.dropdown button,
.dropdown-content li {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-family: inherit;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #fff transparent transparent transparent;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  padding: 0;
  background-color: #33333374;
  z-index: 1;
  overflow-y: scroll;
  max-height: 315px;
}
.dropdown-content li {
    width: 70px;
}
.dropdown-content li img {
  margin: 12px auto 12px 12px;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:focus-within .dropdown-content {
  display: block;
}
/* Animate the dropdown content */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown-content {
  animation: slideIn 0.3s ease-out;
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}
